# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.dll
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.pdb
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.Test.dll
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.dll
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.pdb
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.Test.dll
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.Test.pdb
FinanceProjector/FinanceProjector.Test/obj/Debug/FinanceProjector.Test.csprojResolveAssemblyReference.cache
FinanceProjector/FinanceProjector.Test/obj/Debug/FinanceProjector.Test.dll
FinanceProjector/FinanceProjector.v11.suo
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/FinanceProjector.dll
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/FinanceProjector.Web.dll
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/FinanceProjector.Web.pdb
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/FinanceProjector.Web.Tests.dll
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/FinanceProjector.Web.Tests.pdb
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/MongoDB.Bson.dll
*.dll
*.cache
*.dll
*.pdb
FinanceProjector/FinanceProjector.Web/obj/Debug/FinanceProjector.Web.csproj.FileListAbsolute.txt
FinanceProjector/FinanceProjector.Web/obj/Debug/FinanceProjector.Web.csproj.FileListAbsolute.txt
FinanceProjector/FinanceProjector.Web.Tests/obj/Debug/FinanceProjector.Web.Tests.csproj.FileListAbsolute.txt
*.cache
*.suo
*.dll
*.pdb
*.cache
*.cache
*.suo
*.cache