# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.dll
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.pdb
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.Test.dll
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.dll
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.pdb
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.Test.dll
FinanceProjector/FinanceProjector.Test/bin/Debug/FinanceProjector.Test.pdb
FinanceProjector/FinanceProjector.Test/obj/Debug/FinanceProjector.Test.csprojResolveAssemblyReference.cache
FinanceProjector/FinanceProjector.Test/obj/Debug/FinanceProjector.Test.dll
FinanceProjector/FinanceProjector.v11.suo
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/FinanceProjector.dll
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/FinanceProjector.Web.dll
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/FinanceProjector.Web.pdb
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/FinanceProjector.Web.Tests.dll
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/FinanceProjector.Web.Tests.pdb
FinanceProjector/FinanceProjector.Web.Tests/bin/Debug/MongoDB.Bson.dll
*.dll
*.cache
*.dll
*.pdb
FinanceProjector/FinanceProjector.Web/obj/Debug/FinanceProjector.Web.csproj.FileListAbsolute.txt
FinanceProjector/FinanceProjector.Web/obj/Debug/FinanceProjector.Web.csproj.FileListAbsolute.txt
FinanceProjector/FinanceProjector.Web.Tests/obj/Debug/FinanceProjector.Web.Tests.csproj.FileListAbsolute.txt
*.cache
*.suo
*.dll
*.pdb
*.cache
*.cache
*.suo
*.cache
FinanceProjector/FinanceProjector.Web/bin/DotNetOpenAuth.AspNet.xml
FinanceProjector/FinanceProjector.Web/bin/DotNetOpenAuth.OAuth.Consumer.xml
FinanceProjector/FinanceProjector.Web/bin/DotNetOpenAuth.OpenId.RelyingParty.xml
FinanceProjector/FinanceProjector.Web/bin/EntityFramework.xml
FinanceProjector/FinanceProjector.Web/bin/Microsoft.Web.WebPages.OAuth.xml
FinanceProjector/FinanceProjector.Web/bin/Newtonsoft.Json.xml
FinanceProjector/FinanceProjector.Web/bin/System.Web.Http.OData.xml
FinanceProjector/FinanceProjector.Web/bin/WebMatrix.Data.xml
FinanceProjector/FinanceProjector.Web/bin/System.Web.WebPages.Deployment.xml
FinanceProjector/FinanceProjector.Web/bin/System.Spatial.xml
FinanceProjector/FinanceProjector.Web/bin/System.Web.Helpers.xml
FinanceProjector/FinanceProjector.Web/bin/System.Net.Http.Formatting.xml
FinanceProjector/FinanceProjector.Web/bin/MongoDB.Driver.xml
FinanceProjector/FinanceProjector.Web/bin/MongoDB.Bson.xml
FinanceProjector/FinanceProjector.Web/bin/Microsoft.Data.OData.xml
FinanceProjector/FinanceProjector.Web/bin/Microsoft.Data.Edm.xml
FinanceProjector/FinanceProjector.Web/bin/System.Web.Http.WebHost.xml
FinanceProjector/FinanceProjector.Web/bin/System.Web.Http.xml
FinanceProjector/FinanceProjector.Web/bin/System.Web.Mvc.xml
FinanceProjector/FinanceProjector.Web/bin/System.Web.Razor.xml
FinanceProjector/FinanceProjector.Web/bin/DotNetOpenAuth.OpenId.xml
FinanceProjector/FinanceProjector.Web/bin/DotNetOpenAuth.OAuth.xml
FinanceProjector/FinanceProjector.Web/bin/System.Web.WebPages.Razor.xml
FinanceProjector/FinanceProjector.Web/bin/WebMatrix.WebData.xml
FinanceProjector/FinanceProjector.Web/bin/System.Web.WebPages.xml
FinanceProjector/FinanceProjector.Web/bin/DotNetOpenAuth.Core.xml
FinanceProjector/FinanceProjector.Test/bin/Debug/Checking1.qfx
FinanceProjector/FinanceProjector.Test/bin/Debug/MongoDB.Bson.xml
FinanceProjector/FinanceProjector.Test/bin/Debug/MongoDB.Driver.xml
FinanceProjector/FinanceProjector.Test/obj/Debug/FinanceProjector.Test.csproj.FileListAbsolute.txt
FinanceProjector/FinanceProjector.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FinanceProjector/FinanceProjector.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FinanceProjector/FinanceProjector.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs