@model List<FinanceProjector.Model.BudgetCategory>


<table class="table table-bordered">

    @foreach (var category in Model)
    { 
        <tr>
            <td colspan="2">@Html.ActionLink(@category.Name, "Edit", new { categoryName = @category.Name })</td>

            @if (category.CategoryItems.Any())
            {
                foreach (var item in category.CategoryItems)
                {
                <tr>
                    <td></td>
                    <td>
                        @item.Name
                    </td>

                </tr>
                }

            }
        </tr>
    }

</table>
