@model List<FinanceProjector.Model.BudgetCategory>

@foreach (var category in Model)
{ 
        <li>@Html.ActionLink(@category.Name, "Edit", new { categoryName = @category.Name })

            @if (category.SubCategories.Any())
            {
                <ul>
                    @Html.Partial("BudgetCategoryList", category.SubCategories)
                </ul>
            }
        </li>       
}

